body {
  background-color: #000000;
  /* background-image: linear-gradient(to top right, black, navy); */
  padding-top: 100px;
}

#background {
  /* border: 1px solid #ff00ff; */
  background-color: #000000;
  background-image: url("tree.jpg");
  margin: auto;
  width: 675;
  height: 900;
}

#outside {
  margin: auto;
  width: 675;
  height: 900;
  /* border: 1px solid #ff0000; */
}
